.bocha-avatar {
  border-radius: 50%;
  height: 50px;
}

.bocha-item-container {
  display: flex;
  max-width:90%;
  align-items: center;
  margin-left: 5px;
  margin-top: 5px;
}

.bocha-item-message{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;

}

.bocha-item-container label {
  margin: 0 0 5px 10px;
  font-size: 14px;
  color: whitesmoke;
  background: palevioletred;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  box-sizing: border-box;
}
